<style>
    #btn-create{
        background-color: #FF4081;
        border-color: #FF4081;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        position: sticky;
        top: 0;
        z-index: 1;
        overflow: hidden;
        display: block;
        text-decoration: none;
    }
    .d-flex{
        width: 70%;
    }
    
    /* Thiết lập ô con */
    .profile {
        display: flex; /* Hiển thị các phần tử con theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        padding: 20px; /* Khoảng cách bên trong ô con */
        background-color: #ffffff; /* Nền màu trắng */
        border: 2px solid black; /* Viền màu */
        border-radius: 10px; /* Bo tròn các góc */
        width: 90%; /* Chiếm 4/5 chiều dài của ô ngoài */
    }

    .profile img {
        width: 100px; /* Đặt kích thước hình ảnh */
        height: 100px; /* Đặt chiều cao hình ảnh */
        object-fit: cover; /* Tự động điều chỉnh kích thước hình ảnh */
        border-radius: 50%; /* Bo tròn hình ảnh */
        margin-right: 20px; /* Khoảng cách bên phải của hình ảnh */
    }

    .profile-details {
        text-align: left; /* Căn trái cho tên và email */
    }

    .profile-details h3,
    .profile-details p {
        margin: 0; /* Xóa khoảng cách giữa các phần tử */
    }
    .profile .form-wrapper {
        margin-top: 10px; /* Khoảng cách giữa form và nút button */
    }

    .profile .form-wrapper form {
        display: inline-block; /* Hiển thị form theo chiều ngang */
    }

    .profile .form-wrapper .btn {
        margin-left: 10px; /* Khoảng cách giữa nút button trong form và ngoài form */
    }
</style>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-6">
            <div class="custom-box">
                <a href="/gv/create_doan" id="btn-create" class="btn btn-lg btn-block rounded-pill">
                    <span style="color: white; font-weight: bold; text-transform: uppercase;">Create</span>
                    <span class="btn-overlay"></span>
                </a>
                {{#each projects}}
                    <div class="profile mt-2 mr-2 ml-2">
                        <div class="d-flex">
                            <div class="profile-details">
                                <h3>{{this.name}}</h3>
                                <p>{{this.description}}</p>
                                <p>Level: {{this.level}}</p>
                            </div>
                        </div>
                        <div class="form-wrapper ml-auto">
                            <button data-id='{{this._id}}' class='btn btn-danger' href='' data-toggle='modal' data-target='#delete-project-model'>xóa</button>
                            <a class='btn btn-primary' href='/gv/{{this._id}}/edit-project'>Sửa</a>
                        </div>
                    </div>
                {{else}}
                <div class="text-center">Chưa có Project.</div>
                {{/each}}                
            </div>
        </div>
    </div>
</div>

{{! //dialog xóa }}

<div id='delete-project-model' class='modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xóa project</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Hành động này không thể khôi phục, Bạn có chắc muốn xóa project này?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-project' type='button' class='btn btn-primary'>Xóa vĩnh viễn</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    //{{!khi Trang chạy xong thì bắt đầu chạy func}}
    document.addEventListener("DOMContentLoaded", function () {
        var btnDeleteproject = document.getElementById('btn-delete-project');
        var fileId;
        var restoreBtn = $('.btn-restore');
        $('#delete-project-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            fileId = button.data('id');
        }) //
       // {{!onclick vào buttun click thì xóa}}
        btnDeleteproject.onclick = function () {
            var deleteform = document.createElement('form');
                deleteform.method = 'POST';
                deleteform.action = '/gv/' + fileId + '/forcedelete?_method=DELETE';
                document.body.appendChild(deleteform);
                deleteform.submit();
        } 
    })

</script>