<style>
        .container-fluid {
            position: relative;
        }
        .custom-line {
           width: 100%;
            outline: 0;
            border: none;
            font-size: 15px;
            height: 30px;
            background-color: #A78BFA;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
        }
        .profile {
            display: flex; /* Hiển thị các phần tử con theo chiều ngang */
            align-items: center; /* Căn giữa theo chiều dọc */
            padding: 20px; /* Khoảng cách bên trong ô con */
            
            /*background-color: #ffffff;*/
            
            border: 2px solid black; /* Viền màu */
            border-radius: 10px; /* Bo tròn các góc */
            width: 90%; /* Chiếm 4/5 chiều dài của ô ngoài */
        }
        .profile-details {
            width: 80%;
            text-align: left; /* Căn trái cho tên và email */
        }

        .profile-details h3,
        .profile-details p {
            margin: 0; /* Xóa khoảng cách giữa các phần tử */
        }
        .wBtn{
            width: 100%;
        }
        .wBtn-100{
            width: 20%;
        }
        .d-flex{
            width: 100%;
        }
        #btn-navigation{
        background-color: #FF4081;
        border-color: #FF4081;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        position: sticky;
        top: 0;
        z-index: 1;
        overflow: hidden;
        display: block;
        text-decoration: none;
    }
</style>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-6">
            <div class="custom-box">
                <a href="/gv/nhiemvu" id="btn-navigation" class="btn btn-lg btn-block rounded-pill text-white">
                <i class="fa-solid fa-arrow-left-long"></i>
                </a>
                {{#each tasks}}
                    <div class="profile mt-2 mr-2 ml-2 {{#unless (x bylecturer)}}secondary{{/unless}}">
                        <div class="d-flex">
                            <div class="profile-details">
                                <h3>{{this.title}}</h3>
                                <p>{{this.description}}</p>
                                <div class="d-flex">SVTH: {{this.assignedTo.name}} </div>
                                <div class="d-flex">Date: {{{formatday this.datacomplete}}} </div>
                            </div>
                        </div>
                        <div class="ml-auto wBtn-100">
                            {{#if (x bylecturer)}}
                            <i class="fa-solid fa-check fa-3x mysuccess"></i>
                            {{else}}
                            <i class="fa-solid fa-x fa-3x"></i>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    <div class="text-center">Chưa có hoạt động nào!</div>
                {{/each}}                            
            </div>
        </div>
    </div>
</div>
