<style>
  /* Thiết lập chiều cao cho ô */
  html,
  body {
    height: 100%;
  }

  

  /* Thiết lập ô con */
  .profile {
    display: flex; /* Hiển thị các phần tử con theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 20px; /* Khoảng cách bên trong ô con */
    background-color: #ffffff; /* Nền màu trắng */
    border: 2px solid black; /* Viền màu */
    border-radius: 10px; /* Bo tròn các góc */
    width: 90%; /* Chiếm 4/5 chiều dài của ô ngoài */
  }

  .profile img {
    width: 100px; /* Đặt kích thước hình ảnh */
    height: 100px; /* Đặt chiều cao hình ảnh */
    object-fit: cover; /* Tự động điều chỉnh kích thước hình ảnh */
    border-radius: 50%; /* Bo tròn hình ảnh */
    margin-right: 20px; /* Khoảng cách bên phải của hình ảnh */
  }

  .profile-details {
    text-align: left; /* Căn trái cho tên và email */
  }

  .profile-details h3,
  .profile-details p {
    margin: 0; /* Xóa khoảng cách giữa các phần tử */
  }

  .profile .form-wrapper {
    margin-top: 10px; /* Khoảng cách giữa form và nút button */
  }

  .profile .form-wrapper form {
    display: inline-block; /* Hiển thị form theo chiều ngang */
  }

  .profile .form-wrapper .btn {
    margin-left: 10px; /* Khoảng cách giữa nút button trong form và ngoài form */
  }
</style>

<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center">
    <div class="col-md-6">
      <div class="custom-box">
        {{#each userfakes}}
          <div class="profile mt-2 mr-2 ml-2">
            <div class="d-flex">
              <img src="https://drive.google.com/thumbnail?id={{this.imgid}}" alt="ảnh {{this.name}}">
              <div class="profile-details">
                <h3>{{this.name}}</h3>
                <p>{{this.email}}</p>
              </div>
            </div>
            <div class="form-wrapper ml-auto">
                <div class="form-group">
                  <select id="role-{{this._id}}" class="form-control">
                    <option value="admin">Admin</option>
                    <option value="lecturer">Lecturer</option>
                    <option value="student">Student</option>
                  </select>
                </div>
              <button data-id='{{this.imgid}}' class='btn btn-danger' href='' data-toggle='modal' data-target='#delete-user-model'>Từ chối</button>
              <button onclick="verify('{{this._id}}')" type='button' class='btn btn-primary'>Duyệt</button> 
            </div>
          </div>
        {{else}}
          <div class="text-center">Chưa có tài khoản</div>
        {{/each}}
        <div class="mt-2 w-100"></div>
      </div>
    </div>
  </div>
</div>


<div id='delete-user-model' class='modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Từ chối</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Hành động này không thể khôi phục, Bạn có chắc muốn xóa User này?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-user' type='button' class='btn btn-primary'>Từ chối yêu cầu tạo tài khoản</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var deleteform = document.createElement('form');
    var btnDeleteUser = document.getElementById('btn-delete-user');
    var fileId;
    $('#delete-user-model').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      fileId = button.data('id');
    });
    btnDeleteUser.onclick = function () {
      deleteform.method = 'POST';
      deleteform.action = '/admin/' + fileId + '/forcedelete?_method=DELETE';
      document.body.appendChild(deleteform);
      deleteform.submit();
    };
  });
  function verify(id){
    var Verifiedform = document.createElement('form');
    var role = document.getElementById("role-"+id);
    Verifiedform.method = 'POST';
    Verifiedform.action = '/admin/' + id + '/' + role.value + '/verified?_method=PUT';
    document.body.appendChild(Verifiedform);
    Verifiedform.submit();
  }

</script>