<style>
        .container-fluid {
            position: relative;
        }
        .custom-line {
           width: 100%;
            outline: 0;
            border: none;
            font-size: 15px;
            height: 30px;
            background-color: #A78BFA;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
        }
        .profile {
            display: flex; /* Hiển thị các phần tử con theo chiều ngang */
            align-items: center; /* Căn giữa theo chiều dọc */
            padding: 20px; /* Khoảng cách bên trong ô con */
            background-color: #ffffff; /* Nền màu trắng */
            border: 2px solid black; /* Viền màu */
            border-radius: 10px; /* Bo tròn các góc */
            width: 90%; /* Chiếm 4/5 chiều dài của ô ngoài */
        }
        .profile-details {
            width: 80%;
            text-align: left; /* Căn trái cho tên và email */
        }

        .profile-details h3,
        .profile-details p {
            margin: 0; /* Xóa khoảng cách giữa các phần tử */
        }
        .wBtn{
            width: 100%;
        }
        .wBtn-100{
            width: 20%;
        }
        .d-flex{
            width: 100%;
        }
</style>
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-md-6">
            <div class="custom-box">
                {{#each tasks}}
                    <div class="profile mt-2 mr-2 ml-2 ">
                        <div class="d-flex">
                            <div class="profile-details">
                                <h3>{{this.title}}</h3>
                                <p>{{this.description}}</p>
                                <div class="d-flex">Date: {{{formatdaytimetask this.datacomplete}}} </div>
                            </div>
                        </div>
                        <div class="ml-auto wBtn-100">    
                           <button data-taskid='{{this._id}}'
                                        class='btn btn-primary wBtn mt-1' data-toggle='modal'
                                        data-target='#complete-task-model'><i class="fa-solid fa-check"></i></i></button>
                        </div>
                    </div>
                {{else}}
                    <div class="text-center">Bạn chưa nhận hướng dẩn sinh viên nào!</div>
                {{/each}}                            
            </div>
        </div>
    </div>
</div>

<div id='complete-task-model' class='modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog modal-dialog-centered' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Hoàn thành nhiệm vụ này</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>bạn có chắt đã hoàn thành nhiệm vụ này,hãy xem xét kỹ trước khi xác nhận?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-complete-task' type='button' class='btn btn-primary'>Xác Nhận</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        var btnCompleteTask = document.getElementById('btn-complete-task');
        var taskId;
        $('#complete-task-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            taskId = button.data('taskid');
        })
        btnCompleteTask.onclick = function () {
            var completeform = document.createElement('form');
                completeform.method = "POST";
                completeform.action = '/sv/' + taskId + '/completetask?_method=PUT';
                document.body.appendChild(completeform);
                completeform.submit();
        } 
    })
</script>